// Place all the styles related to the api/v1/memorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul { list-style-type: none; }

.memorial-list-item {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}
.memorial-list-item:hover {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

.list-group-item img { max-height: 100px; }
