// Place all the styles related to the api/v1/memorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul { list-style-type: none; }

// styles concerning dropdown menus
.dropdown > .dropdown-menu {
  min-width: 100%;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: opacity 360ms ease-in-out, visibility 360ms ease-in-out;
  margin-top: 0; // remove the gap so it doesn't close
}

.dropdown.open > .dropdown-menu,
.dropdown:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

#page-number { width: 36px; }

.memorial-list-item {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}
.memorial-list-item:hover {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

.list-group-item img { max-height: 100px; }
